body {
  background-color: #3e607a;
}

nav {
  padding-top: 9px;
  background-color: #1d2e3b;
  height: 56px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

#content {
  margin: 10vh auto;
  background-color: #eee;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  span {
    font-size: 1.2em;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(0, 0, 0);
  text-shadow: 0 4px 5px 0 rgba(0,0,0,0.14);
  a {
    color: rgb(163, 163, 163);
  }
}